* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color:#121214;
  --bg-card-color: #202024;
  --bg: url(../assets/bgBlue.svg);

  --title-border-color-primary: #338AF3;

  --card-border-bottom-primary: #338AF3;
}

body.green {
  --bg-card-color: #1A1F1B;
  --bg: url(../assets/bgGreen.svg);

  --title-border-color-primary: #047C3F;
  --card-border-bottom-primary: #047C3F;
}

body.yellow {
  --bg-card-color: #1D1C19;
  --bg: url(../assets/bgYellow.svg);

  --title-border-color-primary: #746615;
  --card-border-bottom-primary: #F7DD43;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: 4rem auto;
}

header {
  margin-bottom: 4rem;
  text-align: center;
}

#cards {
  display: flex;
  gap: 2rem;

  max-width: 41.75rem;
  flex-wrap: wrap;
}

.card {
  padding: 2rem 1.5rem;
  text-align: center;

  background: var(--bg-card-color);
  border-bottom: 2px solid var(--card-border-bottom-primary);
  border-radius: 6px;

  opacity: 0;
  animation: appear 2s forwards;
}

.card h2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 3.25rem;

  padding: 0.5rem 1rem;
  border: 1px solid var(--title-border-color-primary);
  border-radius: 6px;

  text-align: right;
  color: #F7DD43;

  font-weight: 700;
  font-size: 1.5rem;
}

.card h2 span {
  font-weight: 700;
  font-size: 0.875rem;
  color: #E1E1E6;

  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  width: 16.875rem;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 1.75rem;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 125%;

  color: #E1E1E6;
}

.card h2:hover,
.card ul li strong:hover, 
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong, 
.card ul li img {
  transition: transform 0.6s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {

  #cards {
    flex-direction: column;
  }

}